* {
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.header {
  width: 100%;
  text-align: center;
  height: 70px;
  position: absolute;
  top: 0px;
  box-shadow: 2px 2px 2px rgb(223, 215, 215);
  /* display: flex; */
  /* flex-direction: row; */
}

input {
  width: 200px;
  height: 20px;
  margin: 20px;
  outline: none;
}

button {
  width: 80px;
  height: 20px;
  margin: 20px;
  color: rgba(182, 26, 52, 0.705);
  background-color: rgba(36, 36, 138, 0.349);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(100px,auto); */
  grid-template-columns: repeat(auto-fit, (250px,1fr));
  grid-gap: 10px;
  /* margin: 50px; */
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  margin: 20px;
  height: 300px;
  width: 300px;
  box-shadow: 0 5px 5px 0 black;
}

.tit {
  text-align: center;
  padding: 10px;
  width: 280px;
}

.App {
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.footer {
  width: 100%;
  text-align: center;
  height: 70px;
  position: absolute;
  bottom: 0px;
  box-shadow: 2px -2px 2px rgb(223, 215, 215);
}

@media screen and (max-width: 480px) {
  input {
    width: 140px;
    height: 15px;
  }
  /* img{
      width:150px;
      height: 150px;
  } */
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-auto-rows: minmax(100px,auto); */
    grid-gap:10px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .wrapper { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
